$zmdi-font-path: '../fonts';
$zmdi-icon-prefix: 'icon';

@import 'normalize.scss/normalize';
@import 'material-design-iconic-font/scss/material-design-iconic-font';

* {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.component-list {
  padding: 10px;
}

.level-select {
  padding: 10px;
}
