$zmdi-font-path: '../fonts';
$zmdi-icon-prefix: 'icon';

@import 'normalize.scss/normalize';
@import 'material-design-iconic-font/scss/material-design-iconic-font';

$title-bar-bg: #1eb57d;

* {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.component {
  padding: 10px;
}

h2 {
  margin: 0;
}

.popup-footer {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: $title-bar-bg;
  color: #fff;
}
