$zmdi-font-path: '../fonts';
$zmdi-icon-prefix: 'icon';

@import 'normalize.scss/normalize';
@import 'partials/toggles';
@import 'material-design-iconic-font/scss/material-design-iconic-font';

body {
  min-width: 350px;
  font-family: sans-serif;
}
